
@import url('https://fonts.cdnfonts.com/css/netflix-font');

* {
    padding: 0;
    margin: 0;

}

.blackbg{
    position:absolute;
    left: 0px;
    z-index: ;
    background-color: black;
    min-height: 200vh;
    width: 100vw;
}


.blacklayer {
    height: 74vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.64;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.backgroundimg {
    height: 74vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    border-bottom: 10px solid #383737 ;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 4 0px;

}

.logo {
    height: 50px;

}




.btn {
    background-color: rgba(0, 0, 0, 0.58);
    height: 40px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 8px;
    margin: 10px;

}

.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;


}

.signin {
    background-color: #d11515;
    color: white;
    padding: 0px 15px;
}

select {
    background-color: transparent;
    border: 0px;
    height: auto;
    color: white;

}

.main {
    position: relative;
    height: 30vh;
    width: 80vw;
    z-index: 10;
    margin: 100px 140px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    flex-direction: column;

}

h1 {
    text-align: center;
    position: relative;
    color: white;
    font-weight: 900;
    padding: 20px 0px;
    font-size: 48px;
    font-family: 'Netflix Font', sans-serif;
}

.head2 {
    color: white;
    font-size: larger;
    padding: 20px 0px;
    font-size: 24px;
    font-family: 'Netflix Font', sans-serif;
}

.head3 {
    color: white;
    font-size: larger;
    font-size: 20px;
    padding: 20px 0px;
    padding-bottom: 40px;
    font-family: 'Netflix Font', sans-serif;

}

.email {
    height: 40px;
    width: 100%;
    margin: 0px 50px;
    background-color: transparent;
    padding-left: 5px;
    border: 1px solid gray;
    font-family: 'Netflix Font', sans-serif;
}

.btnred {
    height: 45px;
    width: 344px;
    background-color: #d11515;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Netflix Font', sans-serif;

}

.emailbtn {
    display: flex;
    justify-content: space-between;
    font-family: 'Netflix Font', sans-serif;
}

input::placeholder {
    color: rgb(214, 211, 211);
}

.arrow {
    filter: invert(1);
}

.container{
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 10px;
    width:100vw;
    z-index: 10;
    background-color: #383737;
    margin-top: 20vh;
}

@media (max-width:600px) {

    .main {
        position: relative;
        height: 30vh;
        width: 84vw;
        left: -109px;
        z-index: 10;
        margin: 100px 140px;
        top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 2px solid white; */
        flex-direction: column;
    
     }

     .logo {
        height: 30px;
    }

    h1 {
        text-align: center;
        position: relative;
        color: white;
        font-weight: 700;
        padding: 0px 0px;
        font-size: 32px;
        font-family: 'Netflix Font', sans-serif;
    }

    .head2 {
        color: white;
        font-size: larger;
        padding: 16px 0px;
        font-size: 20px;
        font-family: 'Netflix Font', sans-serif;
        line-height: 20px;
    }

    .head3 {
        color: white;
        text-align: center;
        /* font-size: larger; */
        /* font-size: 20px; */
        padding: 14px 0px;
        margin: 0;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom: 40px;
        margin-left: 8px;
        padding: 15px;
        font-family: 'Netflix Font', sans-serif;
    

    }

    .emailbtn {
        display: flex;
        gap: 17px;
        justify-content: space-between;
        font-family: 'Netflix Font', sans-serif;
        flex-direction: column;
        align-items: center;
    }

    .btnred {
        height: 45px;
        width: 163px;
        background-color: #d11515;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Netflix Font', sans-serif;}

        .container{
            position: absolute;
            display: flex;
            align-items: flex-end;
            height: 10px;
            width:100vw;
            z-index: 10;
            background-color: #383737;
            margin-top: 11vh;
        }

        .backgroundimg {
            height: 65vh;
            width: 100vw;
            position: absolute;
            display: flex;
            justify-content: center;
            object-fit: cover;
            align-items: center;
        
        }


        .blacklayer {
            height: 65vh;
            width: 100vw;
            background-color: rgb(0, 0, 0);
            opacity: 0.64;
            padding: 0;
            margin: 0;
            position: absolute;
            z-index: 1;
        }

}
